#blocks {
    /* flex: 1 1 auto; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}
.block {
    border: 1px solid black; flex-grow: 1;
    max-width: 20%; min-width: 10%;
    margin: 1%;
}
#pattern-editor {
    width: 100%;
}
.cursor-note {
    fill: red;
}
label {
    display: block;
}
