<span class="clock">
    <span class="clock-section">
        <span class="clock-section-amount">0</span>
        <span class="clock-section-unit">Months</span>
    </span>
    <span class="clock-section">
        <span class="clock-section-amount">0</span>
        <span class="clock-section-unit">Days</span>
    </span>
    <span class="clock-section">
        <span class="clock-section-amount">0</span>
        <span class="clock-section-unit">Hours</span>
    </span>
    <span class="clock-section">
        <span class="clock-section-amount">0</span>
        <span class="clock-section-unit">Minutes</span>
    </span>
    <span class="clock-section">
        <span class="clock-section-amount">0</span>
        <span class="clock-section-unit">Seconds</span>
    </span>
</span>
