<div class="grid-container" style="margin-bottom: 1%;">
    <a class="grid-element" href="/resume/resume.pdf">
        <div>
            <img src="/images/resume-and-cv.svg" alt="resume icon"/>
            <p>If you're looking for my resume, it's right here!</p>
        </div>
    </a>
    <a class="grid-element" href="mailto:jim@jhmcstanton.com">
        <div>
            <img src="/images/email.svg" alt="email icon"/>
            <p>My preferred contact method is email.</p>
        </div>
    </a>
    <a class="grid-element" href="https://github.com/jhmcstanton">
        <div>
            <img src="/images/GitHub-Mark-120px-plus.png" alt="github icon" id="contact-icon"/>
            <p>Check out my GitHub profile this way.</p>
        </div>
    </a>
    <a class="grid-element" href="https://www.linkedin.com/in/jim-mcstanton-37270470">
        <div>
            <img src="/images/people.svg" alt="people icon"/>
            <p>Connect to me on LinkedIn.</p>
        </div>
    </a>
</div>
<div>
    Github icon provided by Github, all other icons made by
    <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com
    </a>
</div>
