<article>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </section>
    $if(clock_header)$
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data-10-year-range.js"></script>
      <section class="clock-wrapper">
          <h3>$clock_header$</h3>
        $partial("templates/clock.html")$
          <span id="clock_base" class="invisible">$clock_base$</span>
        <script src="../../scripts/countdown.js"></script>
      </section>
    $endif$
    <section>
        $body$
    </section>
</article>
